# Week 2 assignment 1

In [4]:
from IPython.display import IFrame
IFrame("./week2-assignment1.pdf", width=900, height=900)

In [1]:
import graphlab
from math import log

In [2]:
sales= graphlab.SFrame('kc_house_data.gl')

This non-commercial license of GraphLab Create for academic use is assigned to nie209@uregina.ca and will expire on December 26, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1533825009.log

In [3]:
## check if eveything has loaded into sales variable
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [4]:
## split the data into 8:2 ratio and set the seed to some number so next time you split you going to
## use the same seed number so you can get the same split
train_data, test_data = sales.random_split(0.8, seed=0)

In [5]:
train_data.add_column(train_data['bedrooms'] * train_data['bedrooms'], name="bedrooms_square")
train_data.add_column(train_data['bedrooms'] * train_data['bathrooms'], name= "bed_bath_room")
train_data['log_sqft_living'] = train_data['sqft_living'].apply( lambda x: log(x))
train_data['lat_plus_long'] = train_data['lat'] + train_data['long']

In [6]:
test_data.add_column(test_data['bedrooms'] * test_data['bedrooms'], name="bedrooms_square")
test_data.add_column(test_data['bedrooms'] * test_data['bathrooms'], name= "bed_bath_room")
test_data['log_sqft_living'] = test_data['sqft_living'].apply( lambda x: log(x))
test_data['lat_plus_long'] = test_data['lat'] + test_data['long']

In [7]:
##part 4 what are the mean of the new variable that is been added to the table
print "train data"
print train_data['bedrooms_square'].mean()
print train_data['bed_bath_room'].mean()
print train_data['log_sqft_living'].mean()
print train_data['lat_plus_long'].mean()
#############################################
print "test data"
print test_data['bedrooms_square'].mean()
print test_data['bed_bath_room'].mean()
print test_data['log_sqft_living'].mean()
print test_data['lat_plus_long'].mean()

train data
12.1742406811
7.49659169351
7.55034931769
-74.6539667314
test data
12.4466777016
7.50390163159
7.55027467965
-74.6533349722

In [8]:
m1_features = ['sqft_living','bedrooms', 'bathrooms','lat','long']
m2_features = m1_features + ['bed_bath_room']
m3_features =  m2_features + ['bedrooms_square','log_sqft_living','lat_plus_long']

model1 = graphlab.linear_regression.create(train_data, target='price', features=m1_features, validation_set=None)

model2 = graphlab.linear_regression.create(train_data, target='price', features=m2_features, validation_set=None)

model3 = graphlab.linear_regression.create(train_data, target='price', features=m3_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.097997     | 4074878.213096     | 236378.596455 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.076519     | 4014170.932927     | 235190.935428 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.038759     | 3193229.177894     | 228200.043155 |

+-----------+----------+--------------+--------------------+---------------+

In [9]:
print model1.get("coefficients")
print model2.get("coefficients")
print model3.get("coefficients")

SUCCESS: Optimal solution found.

+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160682 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405418  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

+---------------+-------+----------------+---------------+
|      name     | index |     value      |     stderr    |
+---------------+-------+----------------+---------------+
|  (intercept)  |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living  |  None | 304.449298057  | 3.20217535637 |
|    bedrooms   |  None | -116366.043231 | 4805.54966546 |
|   bathrooms   |  None | -77972.3305135 | 7565.05991091 |
|      lat      |  None | 625433.834953  | 13058.3530972 |
|      long     |  None | -203958.60296  | 13268.1283711 |
| bed_bath_room |  None | 26961.6249092  | 1956.36561555 |
+---------------+-------+----------------+---------------+
[7 rows x 4 columns]

+-----------------+-------+----------------+---------------+
|       name      | index |     value      |     stderr    |
+-----------------+-------+----------------+---------------+
|   (intercept)   |  None | -52974974.0602 |  1615194.9439 |
|   sqft_living   |  None | 529.196420564  | 7.69913498511 |
|     bedrooms    |  None | 28948.5277313  | 9395.72889106 |
|    bathrooms    |  None |  65661.207231  | 10795.3380703 |
|       lat       |  None | 704762.148408  | 1292011141.66 |
|       long      |  None | -137780.01994  | 1292011141.57 |
|  bed_bath_room  |  None | -8478.36410518 | 2858.95391257 |
| bedrooms_square |  None | -6072.38466067 | 1494.97042777 |
| log_sqft_living |  None | -563467.784269 | 17567.8230814 |
|  lat_plus_long  |  None | -83217.1979248 | 1292011141.58 |
+-----------------+-------+----------------+---------------+
[10 rows x 4 columns]

# Question 6
## weight of bathroom is postive for model 1
# Question 7
## weight of bathroom is negative for model 2
# Question 8
## no the sign is not the same

In [10]:
def get_resdiual_sum_of_square(model, data, outcome):
    prediction = model.predict(data)
    resdiuals = outcome - prediction
    RSS = (resdiuals * resdiuals).sum()
    return RSS

In [11]:
m1_RSS  = get_resdiual_sum_of_square(model1, train_data, train_data['price'])
m2_RSS  = get_resdiual_sum_of_square(model2, train_data, train_data['price'])
m3_RSS  = get_resdiual_sum_of_square(model3, train_data, train_data['price'])
print m1_RSS
print m2_RSS
print m3_RSS

9.71328233544e+14
9.61592067856e+14
9.05276314555e+14

In [12]:
m1t_RSS  = get_resdiual_sum_of_square(model1, test_data, test_data['price'])
m2t_RSS  = get_resdiual_sum_of_square(model2, test_data, test_data['price'])
m3t_RSS  = get_resdiual_sum_of_square(model3, test_data, test_data['price'])
print m1t_RSS
print m2t_RSS
print m3t_RSS

2.26568089093e+14
2.24368799994e+14
2.51829318952e+14

# Assignment 2 from week 2

In [1]:
import graphlab
import numpy as np
from math import sqrt

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to nie209@uregina.ca and will expire on December 26, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1533827246.log

In [3]:
## the whole point of this function is to convert sframe data into numpy matrix so i can do matrix
## operation on it

def get_numpy_data(data_sframe, features, output):
    data_sframe['constant'] =1 
    features = ['constant'] + features
    features_sframe = data_sframe[features]    
    features_matrix  = features_sframe.to_numpy()
    output_sarray = data_sframe[output]
    output_array = output_sarray.to_numpy()
    return (features_matrix, output_array)

In [4]:
def predict_outcome(features_matrix, weights):
    
    ## this is with the assumption of weights is already in a row matrix with 
    ## with the size D same width as features matrix
    prediction = np.dot(features_matrix, weights) 
    return (prediction)

In [5]:
def feature_derivative(errors, feature):
    derivative = 2 * (np.dot(errors, feature))
    return (derivative)

In [6]:
def regression_gradient_descent(features_matrix, output, initial_weight, step_size, tolerance):
    converged  = False
    counter  = 0
    weights = np.array(initial_weight)
    while not converged:
        prediction  = np.dot(features_matrix, weights)
        errors  = prediction - output
        gradient_sum_square = 0
        for i  in range(len(weights)):
            derivative_weight = feature_derivative(errors, features_matrix[:,i])
            gradient_sum_square += (derivative_weight **2)
            weights[i]  -= (step_size * derivative_weight)
            counter += 1
            if counter == 250:
                print gradient_magnitude
                counter = 0
        gradient_magnitude  = sqrt(gradient_sum_square)
        if gradient_magnitude < tolerance:
            converged = True
    return (weights)

In [7]:
train_data, test_data  = sales.random_split(0.8, seed=0)

In [8]:
## here is the simple example
simple_feature  = ["sqft_living"]
test_output  = 'price'
tolerance  =  2.5e7
step_size  = 7e-12
inital_weight  = np.array([-47000.,1.])
simple_feature_matrix, output  = get_numpy_data(train_data, simple_feature, test_output)
print simple_feature_matrix

[[  1.00000000e+00   1.18000000e+03]
 [  1.00000000e+00   2.57000000e+03]
 [  1.00000000e+00   7.70000000e+02]
 ...,
 [  1.00000000e+00   1.53000000e+03]
 [  1.00000000e+00   1.60000000e+03]
 [  1.00000000e+00   1.02000000e+03]]

In [9]:
simple_weight = regression_gradient_descent(simple_feature_matrix, output,inital_weight, step_size, tolerance)

In [10]:
print simple_weight

[-46999.88716555    281.91211912]

In [14]:
simple_feature2 = ['sqft_living', 'sqft_living15']
target_output = 'price'
feature_matrix, output = get_numpy_data(train_data, simple_feature2,target_output)
inital_weight =  np.array([-100000.,1.,1.])
step_size = 4e-12
tolerance = 1e9

In [15]:
simple_weight2 = regression_gradient_descent(feature_matrix, output,inital_weight, step_size, tolerance)

97888192650.6
13340509316.2
1818086619.93

In [16]:
print simple_weight2

[ -9.99999688e+04   2.45072603e+02   6.52795277e+01]